@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&family=Sora:wght@100;300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,500;1,100&display=swap');


:root {
    --display : 'Sniglet', cursive;
    --genhead: 'Sora', sans-serif;
    --genfont: 'Noto Sans', sans-serif;
    --bg-main1 : #833ab4;
    --bg-main2 : #fcb045;
    --blackdarker: #2C2C26;
    --blackol : #3F3F37;
    --green : #43AA8B;
    --red: #DB504A;
    --cherry: #DA4167;
    --rose: #CD8270;
    --cream: #F4FFF8;
    --grey-blue: #8BAAAD;
    --gray-purp: #9E90A2;
    --blue-eyes: #98B9F2;
    --darkpurp : #2D143E;
    --vdarkpurp :#160A1F;
}

.bg-light-d{
    background: black linear-gradient(var(--cherry), var(--bg-main1)) fixed !important;
    color: white!important;
}

body {
    color: linear-gradient(to left top, var(--bg-main1), var(--bg-main2)) fixed !important;

    /*edit*/
    background: white;
}

*{
    font-family: var(--genfont)!important;
    letter-spacing: -1.2px!important;
}

a {
    font-family: var(--display)!important;
    font-weight: bolder!important;
    background: -webkit-linear-gradient(var(--bg-main1), var(--bg-main2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*    BG AND TEXT COLORS    */

.bg-cherry{
    background-color: var(--cherry)!important;
}

.bg-cherry-white{
    background: black linear-gradient(var(--cherry), white) fixed !important;
}

.bg-gold-white{
    background: black linear-gradient(var(--bg-main2), white) fixed !important;
}

.bg-vd-purp{
    background-color: var(--vdarkpurp)!important;
}

.grey-bg {
    background-color: var(--gray-purp)!important;
}

.grey-ft {
    color: var(--grey-blue)!important;
}

.h1,.h2,.h3,.h4,.h5,.h6{
    color: var(--bg-main1)!important;
    font-family: var(--genfont)!important;
}


.text-cherry{
    color: var(--cherry)!important;
}

.btn-cherry{
    background-color: var(--cherry)!important;
    color: var(--cream)!important;
}

.text-black{
    color: black!important;
}


/*   TYPOS    */

.display-1 {
    font-family: var(--display)!important;
    font-weight: bolder!important;
    background: -webkit-linear-gradient(var(--bg-main1), var(--bg-main2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-7 {
    font-family: var(--display)!important;
    font-weight: bolder!important;
    font-size:1.2em!important;
    background: -webkit-linear-gradient(var(--bg-main1), var(--bg-main2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.display-6 {
    font-family: var(--display)!important;
    font-weight: bolder!important;
    font-size:1.5em!important;
    background: -webkit-linear-gradient(var(--bg-main1), var(--bg-main2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-outline-cherry {
    color:var(--cherry)!important;
    border: solid 0.5px var(--cherry)!important;
}

.text-fat {
    font-family: var(--display)!important;
    font-weight: bolder!important;
}

/*------------------   VALID OR NOT   _________________*/

.is_valid {
    text-align: center!important;
    color:royalblue;
}
.not_valid {
    text-align: center!important;
    color:crimson;
}